body {
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
}

/* Card container */
.profile-card {
    width: 300px;
    padding: 20px;
    margin: auto;
    margin-top: 40px;

    text-align: center;
    background-color: white;

    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

/* Profile image */
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* Buttons */
.btn {
    padding: 10px 20px;
    margin-top: 8px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

/* Hover effect */
.btn:hover {
    background-color: gray;
}
