body{
    display: flex;
    align-items: center;
    min-width: none;
    background-color: rgb(241, 217, 241);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    justify-content: center

}h2{
    font-size: 18px;
    margin-bottom: 20px;
}

.vertical-box{
    border: 2px solid rgb(229, 222, 222);
    width: 300px;
    height:800;
    margin: none;
    background-color: rgb(245, 145, 238);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.box{
    width: 180px;
    height: auto;
    gap: 10px;
    padding:10px;
    border-radius: 20px;
    text-align: center;
    border: 0.5px solid rgb(239, 232, 232);
    border-radius: 10px;
    background-color: aliceblue;  
}
.percentage-amount{
    font-size: 30px;
    font-weight: bold;
    color: rgb(20, 18, 19);
}
.box.percentage-amount{
    gap: 10px;
}