body {
    background-color: plum;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.vertical-box {
    border: 2px solid rgb(236, 228, 228);
    width: 250px;
    height: auto;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    background-color: rgb(216, 103, 222);

    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.box {
    width: 150px;
    padding: 5px;
    background-color: rgb(239, 215, 234);
    border-radius: 5px;
    border: 1px solid white;
}

.percentage-amount {
    font-weight: bold;
    margin-top: 5px;
    color: rgb(6, 6, 7);
}
