body{
    font-family: 'Avenir', sans-serif;
    background-color: #fdfcfc;
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 10px;
    margin:10px;
}
.schedule-container{
   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 10px;
    width: auto;
    height: auto;
}
.th{
    text-align: center;
    color: #151515;
}
.table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 40px;
}
.th, td{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 12px;
    height: 40px;
    border-radius: 70px;
}
.thead th{
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    border-radius: 70px;
}
.pink{
    background-color: pink;
    border-radius: 40px;
    padding: 2px 6px;
}
.yellow{
    background-color: yellow;
    border-radius: 70px;
    padding: 2px 6px;
}
.note-section{
    margin-top: 20px;
    padding:10px;
    background-color: lightpink;
    border-radius: 70x;
    padding: 2px 6px;
    width: 500px;
    height: auto;
}
.time{
    background-color: lightblue;
    border-radius: 70px;
    padding: 2px 6px;
    width: auto;
    height: auto;
    
}
h3{
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #333333;
}