* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Arial, sans-serif;
}

.main-title {
  font-size: 32px;
  margin: 20px 0;
}

.investor-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 in a row */
  gap: 30px;
  padding: 20px 0;
}

.investor-box {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.investor-box img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 50px;
}

.investor-box h3 {
  margin-top: 10px;
}
