body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #f8f8f8;
}

.title {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 28px;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.partner {
    width: 150px;
    text-align: center;
}

.partner img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.partner p {
    margin-top: 10px;
    font-size: 16px;
}
