body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
}

.product-box {
  width: 500px;
  height: 600px;
  padding: 30px;
  margin: 10px;
  border: 3px solid grey;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}

.product-desc {
  text-align: center;
  font-size: 16px;
  margin: 10px 0 20px 0;
}

.buy-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy-btn:hover {
  background-color: #0056b3;
}
